* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

i {
    font-style: normal;
}

body {
    background: #F5F5F5;;
}

/*----------------------------------头部-----------------------------------*/
/*头部总体*/
header {
    width: 100%;
    height: 31px;
    background: #F2F2F2;
    color: #999999;
    font-size: 12px;
    border-bottom: 1px solid #e2e2e2;
}

.header-content {
    width: 1250px;
    margin: 0 auto;
}

.header-content li {
    padding: 9px 10px 6px 10px;
}

/*左侧*/
.header-left li {
    float: left;
}

.header-left li a {
    color: #999;
}

.header-left li a:hover {
    color: red;
}

/*右侧*/
.header-right li.main {
    position: relative;
    float: right;
    border: 1px solid #F2F2F2;
    border-top: none;
    border-bottom: none;
}

.header-right li.other {
    border: none;
}

.header-right li a {
    color: #999;
}

.header-right li i {
    font-size: 12px;
}

.header-right li i.iconfont {
    color: red;
}

.header-right li p {
    display: inline-block;
    height: 13px;
    cursor: pointer;
}

.header-right li.other:hover {
    color: #999;
}

.header-right li:hover, .header-right li:hover a {
    color: red;
}

.header-right li:first-child:hover {
    color: #999;;
}

.header-right li.more:hover {
    background: white;
    border: 1px solid #e2e2e2;
    border-top: none;
    border-bottom: 1px solid white;
}

.header-right li p:hover {
    color: red;
    border-bottom: 1px solid red;
}

.header-right li i.jian {
    transition: all 0.2s ease-in;
}

.header-right li:hover i.jian {
    color: #999;
    display: inline-block;
    transform: rotate(180deg);
}

.header-right li span {
    cursor: pointer;
}

/*右侧第一个下拉*/
.header-right li .one {
    position: absolute;
    width: 100px;
    top: 32px;
    left: -1px;
    border: 1px solid #e2e2e2;
    border-top: none;
    background: white;
    display: none;
}

.header-right li .one a {
    color: #4e4e4e;
}

.header-right li .one li:nth-child(1) {
    padding: 10px 10px 0 10px;
}

.header-right li .one li:nth-child(2) {
    padding: 3px 15px 10px 10px;
}

/*右侧第二个下拉*/
.header-right li .two {
    width: 120px;
    padding: 5px 5px;
    background: white;
    position: absolute;
    top: 32px;
    right: -1px;
    border: 1px solid #e2e2e2;
    border-top: none;
    z-index: 99;
    display: none;
}

.header-right li .two dt, .header-right li .two dd {
    margin: 3px 5px;
}

.header-right li .two dl {
    border-bottom: 1px dotted lightgrey;
}

.header-right li .two dt {
    color: #4e4e4e;
    font-size: 14px;
    font-weight: bold;
}

.header-right li .two dd {
    display: inline-block;
}

.header-right li .two dd a {
    color: #4e4e4e;
}

/*右侧第三个下拉*/
.header-right li .three {
    position: absolute;
    top: 32px;
    right: -1px;
    width: 1100px;
    padding: 30px 0;
    background: white;
    border: 1px solid #e2e2e2;
    border-top: none;
    z-index: 100;
    display: none;
}

.header-right li .three dl {
    float: left;
    padding-left: 40px;
    box-sizing: border-box;
    border-right: 1px solid #ebebeb;
    /*border: 1px solid red;*/
}

.header-right li .three dl:nth-child(1) {
    width: 280px;
}

.header-right li .three dl:nth-child(2) {
    width: 350px;
}

.header-right li .three dl:nth-child(3) {
    width: 280px;
}

.header-right li .three dl:nth-child(4) {
    width: 180px;
    border: none;
}

.header-right li .three dl dt {
    font-size: 16px;
    font-weight: bold;
    color: #4e4e4e;
    margin-bottom: 5px;
}

.header-right li .three dl dd {
    display: inline-block;
    width: 70px;
    padding-top: 14px;
}

.header-right li .three dl:nth-child(1) dt {
    color: orange;
}

.header-right li .three dl:nth-child(2) dt {
    color: #383fff;
}

.header-right li:first-child:hover .three a {
    color: #929292;
}

.header-right li .three dl dd a {
    display: inline-block;
    border-bottom: 1px solid white;
}

.header-right li .three dl dd a:hover {
    display: inline-block;
    border-bottom: 1px solid #929292;
    color: #929292;
}

.header-right li .three dl:nth-child(1) dt {

}

.header-right li .three dl:nth-child(1) dt {

}

.header-right li .three dl:nth-child(1) dt {

}

/*右侧第四个下拉二维码*/
.header-right li .four {
    position: absolute;
    width: 150px;
    height: 182px;
    top: 30px;
    left: -40px;
    border-top: none;
    z-index: 99;
    box-shadow: 0px 0px 8px grey;
    display: none;
}

.header-right li .four::after {
    content: '';
    border: 4px solid transparent;
    border-bottom: 4px solid white;
    position: absolute;
    top: -8px;
    left: 70px;
}

.header-right li .four img {
    width: 150px;
    vertical-align: bottom;
}



/*----------------------------------------导航----------------------------------*/
/*导航总体*/
nav {
    background: white;
}

/*log搜索栏*/
.nav-logo {
    width: 1250px;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
}

.nav-logo div:first-child {
    margin-right: 120px;
}

.nav-logo div:first-child img {
    width: 250px;
    display: inline-block;
    margin-left: -24px;
    vertical-align: bottom;
}

.nav-logo .search {
    margin-top: 40px;
}

.nav-logo .search div {
    display: flex;
}

.nav-logo .search input {
    width: 400px;
    height: 38px;
    border: 2px solid #FF0036;
    border-right: none;
}

.nav-logo .search button {
    width: 140px;
    height: 42px;
    background: #FF0036;
    border: none;
    cursor: pointer;
    outline: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.nav-logo .search ul {
    display: flex;
    margin-top: 10px;
}

.nav-logo .search ul li {
    line-height: 12px;
    height: 12px;
    padding: 0 8px;
    border-right: 1px solid #c4c6c8;
}

.nav-logo .search ul li:last-child {
    border-right: none;
}

.nav-logo .search li a {
    font-size: 14px;
    color: #999B9D;
    font-family: "宋体";
}

.nav-logo .search li:nth-child(1) a, .nav-logo .search li:nth-child(4) a {
    color: #FF0036;
}

/*导航条*/
.nav-leader ul {
    width: 1250px;
    margin: 0 auto;
    display: flex;
}

.nav-leader ul li {
    margin: 0 9px;
    height: 36px;
    line-height: 36px;
    color: #333;
}

.nav-leader ul li a {
    color: #333;
}

.nav-leader ul li a:hover {
    color: #FF0036;
}

.nav-leader ul li:first-child {
    margin-left: 0;
    width: 200px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    background: #FF0036;
    font-family: "宋体";
}

.nav-leader ul li img {
    width: 110px;
    vertical-align: bottom;
}

/*banner部分*/
.nav-banner {
    width: 100%;
    height: 500px;
    position: relative;
}

.nav-banner .banner-bg {
    width: 100%;
    height: 500px;
    position: relative;
    border-top: 1px solid #FF0036;
}

.nav-banner .banner-bg .bg {
    position: absolute;
    width: 100%;
    background: #FF3D79;
}

.nav-banner .banner-bg .bg:nth-child(2),
.nav-banner .banner-bg .bg:nth-child(4) {
    background: #E8E8E8;
}

.nav-banner .banner-bg .bg:nth-child(3) {
    background: #192221;
}

.nav-banner .banner-bg .bg:nth-child(5) {
    background: #DF3A00;
}

.nav-banner .banner-bg .bg:nth-child(6) {
    background: #F9597D;
}

/*banner图片*/
.banner-bg .bg .bg-content {
    position: relative;
    width: 1130px;
    height: 500px;
    margin: 0 auto;
}

.bg-content a:first-child img {
    width: 1130px;
}

.banner-bg .bg a:nth-child(2) img,
.banner-bg .bg a:nth-child(3) img {
    width: 215px;
    position: absolute;
    right: -59px;
    top: 12px;
    background: rgba(255, 255, 255, 0.4);
    transition: all 0.3s ease-in;
}

.banner-bg .bg a:nth-child(3) img {
    top: 258px;
}

.banner-bg .bg a:nth-child(2):hover img,
.banner-bg .bg a:nth-child(3):hover img {
    background: white;
}

/*banner底部li*/
.banner-bg .bg-tab {
    position: relative;
    width: 1130px;
    margin: 0 auto;
}

.banner-bg ul {
    position: absolute;
    bottom: -480px;
    left: 520px;
    width: 1130px;
    margin: 0 auto;
    display: flex;
}

.banner-bg ul li {
    width: 22px;
    height: 5px;
    background: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin: 3px;
    border-radius: 2px;
}

.banner-bg ul li:hover {
    background: rgba(255, 255, 255, 0.8);
}

/*详细导航表*/
.nav-banner .banner-leader {
    width: 100%;
}

.nav-banner .banner-leader .ban-lead-content {
    position: relative;
    width: 1250px;
    margin: 0 auto;
}

.ban-lead-content ul {
    position: absolute;
    width: 190px;
    height: 500px;
    z-index: 99;
    font-size: 14px;
}

.ban-lead-content ul li {
    width: 185px;
    height: 31.3px;
    line-height: 31.3px;
    background: rgba(0, 0, 0, 0.5);
    padding-left: 15px;
    color: white;
}

.ban-lead-content ul li:hover {
    background: white;
    color: black;
}

.ban-lead-content ul li div:first-child {
    cursor: pointer;
}

.ban-lead-content ul li .info {
    position: absolute;
    top: 1px;
    left: 200px;
    width: 800px;
    height: 500px;
    display: none;
}

.ban-lead-content .info .left {
    float: left;
    width: 540px;
    height: 500px;
    background: white;
    padding-left: 10px;
    cursor: default;
}

.ban-lead-content .info .right {
    float: left;
    padding: 10px;
    width: 230px;
    height: 500px;
    box-sizing: border-box;
    font-size: 0;
    background: #f7f7f7;
}

.ban-lead-content .info .left dl {
    display: flex;
    margin: 8px 0;
}

.ban-lead-content .info .left dt {
    width: 100px;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    color: inherit;
}

.ban-lead-content .info .left dl div {
    padding: 0 20px;
    border-bottom: 1px dashed lightgrey;
}

.ban-lead-content .info .left dl:last-child div {
    border: none;
}

.ban-lead-content .info .left dd {
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
}

.ban-lead-content .info .left dd:hover {
    color: red;
}

.ban-lead-content .info .right img {
    width: 100px;
    vertical-align: bottom;
    margin: 2px;
    cursor: pointer;
}

.ban-lead-content .info .right img:hover {
    opacity: 0.9;
}



/*---------------------------------------主体---------------------------------------------------*/









/*侧边导航栏左*/

/*侧边导航栏右*/

/*页脚*/