*{
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	list-style: none;
}
body{
	width: 100%;
	height: 5000px;
}
.clearfix:after{
	display: block;
	content: "";
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix{
	zoom: 1;
}

/*----------------------------------------top-nav---------------------------------*/
.top-nav{
	height: 30px;
	width: 100%;
	background: #F5F5F5;
}
.top-nav-det{
	width: 1136px;
	margin: 0 auto;
}
.hidee{
	display: none;
}
.top-nav-det .nav-le{
	float: left;
}
.top-nav-det ul .sd{
	/*font-size: 32px;*/
	position: relative;
	width: 60px;
	text-align: center;
}
.top-nav-det ul li span{
	font-size: 14px;
	line-height: 30px;
	color: #666666;
}
.top-nav-det ul li .city{
	z-index: 100;
	background: white;
	padding-left: 10px;
	/*border: 1px solid #CCCCCC;*/
	text-align: left;
	position: absolute;
	top: 30px;
	left: 0px;
	
	width: 280px;
	height: 470px;
}
.top-nav-det ul li .city h5{
	padding-bottom: 10px;
	border-bottom: 1px dotted black;
	font-weight: bold;
}
.top-nav-det span{
	cursor: pointer;
}
.top-nav-det .nav-ri{
	float: right;	
}
.top-nav-det .nav-ri li{
	width: 90px;
	text-align: center;	
	float: left;
	line-height: 30px;
	
}
.top-nav-det .nav-ri li a{
	color:#666;
	text-decoration: none;
}
.top-nav-det .nav-ri .temai{
	position: relative;
}
.top-nav-det .nav-ri .temai ul{
	z-index: 100;
	background: white;
	position: absolute;
	top: 30px;
	left: 0px;
}
.top-nav-det .nav-ri .huiyuan{
	position: relative;
}
.top-nav-det .nav-ri .huiyuan ul{
	z-index: 100;
	background: white;
	position: absolute;
	top: 30px;
	left: 0px;
}
.top-nav-det .nav-ri .kefu{
	position: relative;
}
.top-nav-det .nav-ri .kefu ul{
	z-index: 100;
	background: white;
	position: absolute;
	top: 30px;
	left: 0px;
}
.top-nav-det .nav-ri .erweima{
	position: relative;
}
.top-nav-det .nav-ri .erweima div{
	z-index: 100;
	position: absolute;
	top: 30px;
	right: 0px;
	background: white;
}
.top-nav-det .nav-ri .erweima div img{
	padding: 10px;
	width: 160px;
	height: 160px;
}
.top-nav-det .nav-ri .gengduo{
	position: relative;
}
.top-nav-det .nav-ri .gengduo ul{
	z-index: 100;
	background: white;
	padding: 10px;
	position: absolute;
	top: 30px;
	right: 0px;
	width: 250px;
}
.top-nav-det .nav-ri .gengduo ul li{
	width: 230px;
	font-size: 14px;
}
.top-nav-det .nav-ri .gengduo ul .cu{
	font-weight: bold;
}
.top-nav-det .nav-ri .gengduo ul .xian{
	border-bottom: 1px dashed #666666;
}
.top-nav-det .nav-ri .gengduo ul li{
	text-align:left;
} 

/*--------------------------------------第二层 logo 输入框------------------------*/
.wrap .sec{	
	height: 100px;
	width: 1170px;
	margin: 0 auto;
}
.wrap .sec .logo1{
	margin-left: -80px;
	float: left;
	/*width: 150px;	*/
	width: 160px;
}
.wrap .sec .logo2{
	margin-top: -14px;
	float: left;
	height: 100px;	
}
.wrap .sec .inp{	
	float: left;
	margin-top: 16px;
	margin-left: 260px;
	width: 320px;
	height: 40px;
	border: 1px solid black;
	border-radius: 5px;
}
.wrap .sec .inp input{
	float: left;
	margin-top: 2px;
	margin-left: 3px;
	padding: 5px;
	width: 280px;
	height: 32px;
	font-size: 15px;
	color: #666666;
	border: none;
	outline: none;
}
.wrap .sec .inp i{
	float: left;
	display: block;
	font-size: 20px;
	margin-top: 8px;
}
.wrap .sec .tool{
	margin-top: 18px;
	margin-left: 10px;
	float: left;
	padding-top: 5px;
	padding-left: 5px;
	width: 106px;
	height: 32px;
	border: 1px solid #E3E3E3;
	border-radius: 4px;
	background: #F5F5F5;
}
.wrap .sec .tool i{
	display: block;
	float: left;
	margin-left: 5px;
	margin-top: 2px;
}
.wrap .sec .tool span{
	font-size: 16px;
	color: black;
	display: block;
	float: left;
	margin-left: 5px;
}
.wrap .sec .tool p{
	float: left;
	margin-top: 2px;
	margin-left: 5px;
	width: 20px;
	height: 14px;
	color: white;
	text-align: center;
	line-height: 14px;
	background: #F10180;
	border-radius: 6px;
}

/*-----------------------------------第三层 main-nav--------------*/
.wrap .main-nav{
	width: 100%;
	height: 40px;
	background: #F10180;
}
.wrap .main-nav .main-nav-det{
	width: 1136px;
	margin: 0 auto;
}
.wrap .main-nav .main-nav-det li{
	float: left;
	margin-right: 20px;
	width: 50px;
	height: 40px;
	text-align: center;
	line-height: 40px;
}
.wrap .main-nav .main-nav-det li a{
	color: white;
	font-size: 16px;
	text-decoration: none;
}
.show{
	font-weight: bold;
	background:#BD1067 ;
}
.wrap .main-nav .main-nav-det-ri{
	float: right;
}
.wrap .main-nav .main-nav-det-ri li{
	width: 70px;
}
.wrap .main-nav .main-nav-det-ri li i{
	font-size: 14px;
}

/*------------------------------------------轮播图-------------------------------*/
.wrap .banner{
	position: relative;
	width: 100%;
	height: 500px;
	background: url(../img/bannerbg.jpg) -170px 0;
	display: flex;
	min-height:150px;
	flex: 1;

}

.wrap .banner img{
	width: 1116px;
	height: 390px;
	margin: 54px 232px;
}

/*---------------------------------新人优选-------------------===*/
.wrap .xryx{
	margin-top: -20px;
	width: 100%;
}
.wrap .xryx .tit{
	width: 1170px;
	margin: 0 auto;
}
.wrap .xryx .xryx-det{
	width: 1280px;
	height: 140px;
	margin: 20px auto;
}
.wrap .xryx .xryx-det ul{
	float: left;
	margin-left: 44px;
}
.wrap .xryx .xryx-det ul li{
	text-align: center;
	font-size: 14px;
}
.wrap .xryx .big{
	width: 1150px;
	margin: -10px auto;
}

/*-----------------------------旁边黑色导航--------------*/
.wrap .blacknav{
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: 999;
	width: 34px;
	height:100%;
	background: #262626;
}
.wrap .blacknav .blacknav-det{
	padding-top: 130px;
}
.wrap .blacknav .blacknav-det .zhang{
	display: block;
	text-align: center;
	margin-top: -20px;
	font-size: 15px;
}
.wrap .blacknav .blacknav-det li{
	/*border: 1px solid red;*/
	padding: 6px 0px;
	cursor: pointer;
	/*margin-bottom: 6px;*/
	text-align: center;
}
.wrap .blacknav .blacknav-det li i,span{
	font-size: 18px;
	color: white;
}
.wrap .blacknav .blacknav-det .re{
	/*padding-top: 8px;
	padding-bottom: 8px;*/
	background: #F10180;
}
.wrap .blacknav .blacknav-det .re i{
	display: block;
	margin: 10px auto;
}
.wrap .blacknav .blacknav-det .re span{
	font-size: 16px;
}
.wrap .blacknav .blacknav-det .re p{
	width: 18px;
	font-size: 10px;
	margin: 10px auto;
	border-radius: 50%;
	color: #F10180;
	background:white;
}
.wrap .blacknav .blacknav-det .bot{
	margin-top: 180px;
}
.wrap .blacknav .blacknav-det .zhanghu{
	
	position: relative;
}
.wrap .blacknav .blacknav-det .zhanghu .zh{
	z-index: 99;
	position: absolute;
	right: -200px;
	top: 0px;
	width: 200px;
	height: 160px;
	background: white;
	border: 1px solid #DDDDDD;
}
.wrap .blacknav .blacknav-det .zhanghu .zh .zh-det{
	width: 120px;
	height: 120px;
	margin: 20px auto;
}
.wrap .blacknav .blacknav-det .zhanghu .zh .zh-det p{
	margin-top: 14px;
}
.wrap .blacknav .blacknav-det .zhanghu .zh .zh-det p a{
	color: #F10180;
	text-decoration: none;
}
.wrap .blacknav .blacknav-det .youhuiquan{
	position: relative;
}

.wrap .blacknav .blacknav-det .youhuiquan .money{
	z-index: 90;
	position: absolute;
	top: 0px;
	right: -118px;
	width: 118px;
	height: 100%;
	background: white;
	border: 1px solid #C0C0C0;
}
.wrap .blacknav .blacknav-det .youhuiquan .money a{
	text-decoration: none;
	font-size: 14px;
	line-height:35px;
	color: black;
}

/*-----------------------------新特卖-----------------------------*/
.wrap .xtm{
	width: 1200px;
	margin: 0 auto;
	margin-top: 70px;
}
.wrap .xtm .xtm-det{
	padding-top: 20px;
} 
.wrap .xtm .xtm-det .xtm-det-sh li{
	float: left;
	margin-right: 26px;
	
}
.wrap .xtm .xtm-det .xtm-det-sh li img{
	width: 372px;
	height: 232px;
}
.wrap .xtm .xtm-det .xtm-det-xi{
	padding-top: 20px;
}
.wrap .xtm .xtm-det .xtm-det-xi li{
	width: 570px;
	height: 350px;
	float: left;
	margin-right: 26px;
	margin-bottom: 24px;
}
.wrap .xtm .xtm-det .xtm-det-xi li img{
	margin-top: 24px;
	margin-left: 24px;
	display: none;
}
.wrap .xtm .xtm-det .xtm-det-xi li:hover{
	
}
.wrap .xtm .xtm-det .xtm-det-xi li:hover img{
	display: block;
}

/*-----------------------------女装---------------------------------*/
.wrap .nz{
	width: 1200px;
	margin: 0 auto;
	margin-top: 20px;
}
.wrap .nz .nv-tit{
	width: 1166px;
	border-bottom: 1px solid black;
}
.wrap .nz .nv-det{
	margin-top: 20px;
}
.wrap .nz .nv-det li{
	position: relative;
	margin-right: 26px;
	margin-bottom: 50px;
	float: left;
	width: 570px;
	height: 272px;
	cursor: pointer;
}
.wrap .nz .nv-tit a{
	display: block;
	float: right;
	margin-top: 20px;
	font-size: 14px;
	color: black;
	text-decoration: none;
}
.wrap .nz .nv-det li i{
	position: absolute;
	top: 0px;
	left: 0px;
	display: block;
	width: 570px;
	height: 272px;
	background: rgba(255,255,255,0.2);
	display: none;
}
.wrap .nz .nv-det li:hover i{
	display: block;
}
.wrap .nz .nv-det li p{
	position: absolute;
	bottom: -6px;
	right: 6px;
	width: 100px;
	height: 22px;
	background: white;
	border-radius: 10px;
	text-align: center;
	display: none;
}
.wrap .nz .nv-det li p:hover{
	color: white;
	background:#F10180 ;
}
.wrap .nz .nv-det li:hover p{
	display: block;
}
.wrap .nz .nv-det li p span{
	float: left;
	display: block;
	margin-top: 2px;
	margin-left: 10px;
	font-size: 16px;
	color: #F10180;
}
.wrap .nz .nv-det li .dazhe span{
	color: #F10180;
	font-size: 24px;
	font-weight: bold;
}
.wrap .nz .nv-det li .dazhe .sheng{
	display: block;
	font-size: 14px;
	color: black;
}

.wrap .yg{
	width: 1200px;
	margin: 0 auto;
	margin-top: 30px;
}
/*.wrap .yg .tit{
	padding-bottom: 20px;
}*/
.wrap .yg .yg-det li{
	cursor: pointer;
	width: 270px;
	height: 170px;
	position: relative;
	float: left;
	margin-top: 20px;
	margin-right: 30px;
	
}
.wrap .yg .yg-det li img{
	float: left;
	width: 270px;
	height: 130px;
	margin-bottom: 4px;
}
.wrap .yg .yg-det li a{
	display: block;
	position: absolute;
	top: 50px;
	left: 64px;
	width: 140px;
	height: 40px;
	color: white;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
	background: rgba(0,0,0,0.7);
}
.wrap .yg .yg-det li span{
	color: #666666;
	font-size: 14px;
}
.wrap .yg .yg-det li i{
	z-index: 20;
	position: absolute;
	top: 0px;
	right: 0px;
	display: block;
	width: 270px;
	height: 130px;
	background: rgba(255,255,255,0.2);
	display: none;
}
.wrap .yg .yg-det li:hover i{
	display: block;
}
.wrap .yg .yg-det li p{
	z-index: 30;
	position: absolute;
	bottom: 32px;
	right: 0;
	width: 90px;
	height: 18px;
	text-align: center;
	border-radius: 10px;
	background: white;
	display: none;
}
.wrap .yg .yg-det li:hover p{
	display: block;
}
.wrap .yg .yg-det li p em{
	color: #F10180;
}
.wrap .yg .yg-det li p:hover{
	background: #F10180;
	color: white;
}
.wrap .yg .yg-det .yg-det-inp{
	width: 240px;
	height: 26px;
	text-align: center;
	border: 1px solid #CCCCCC;
	color: #459BFF;
	display: none;
}
.wrap .yg .yg-det li:hover .yg-det-inp{
	display: block;
}
.wrap .yg .yg-det .yg-det-inp input{
	margin-top: 2px;
	margin-right: 10px;
	height: 20px;
	width:160px;
	border:none;
	outline: none;
}

/*--------------------------------------左边导航栏----------------------------------*/
.wrap .left-nav{
	background: white;
	position: fixed;
	top: 100px;
	right: 1400px;
	width: 105px;
	height: 630px;
	display: none;
}
.wrap .left-nav ul{
	border: 1px solid #C0C0C0;
	border-radius: 5px;
	width: 76px;
	height: 438px;
	margin: 5px auto;	
}
.wrap .left-nav ul li{
	margin: 0 auto;
	height: 36px;
	width: 66px;
	text-align: center;
	line-height: 36px;
	border-bottom:1px solid #DDDDDD;
	border-radius: 2px;
}
.wrap .left-nav ul .zuixia{
	border: none;
}
.wrap .left-nav ul li a{
	color: #666666;
	text-decoration: none;
}
.wrap .left-nav ul li:hover a{
	color: #F10180;
}

/*---------------------------more------------------------*/
.wrap .more{
	margin: 20px auto;
	margin-top: 50px;
	text-align: center;
    font-size: 18px;
    border: 1px solid #252525;
    border-radius: 4px;
    color: #252525;
    line-height: 40px;
    width: 200px;
    cursor: pointer;
}

/*---------------------------foot------------------------------*/
.wrap .foot{
	width: 100%;
	/*height: 600px;*/
	margin-top: 100px;
	border-top: 1px solid #EBEBEB;
	background: #fcfcfc;
	
}
.wrap .foot .foot-dit{
	margin: 30px auto;
	width: 1200px;
}
.wrap .foot .foot-dit .foot-top{
	width: 960px;
	margin: 0 auto;
}
.wrap .foot .foot-dit .foot-top li{
	float: left;
	width: 74px;
	height: 76px;
	margin-right: 22px;
}
.wrap .foot .foot-dit .foot-top li a{
	color: #4d4d4d;
	text-decoration: none;
}
.wrap .foot .foot-dit .word{
	width: 960px;
	margin: 0 auto;
	margin-top: 40px;
}
.wrap .foot .foot-dit .word ul{
	float: left;
    width: 145px;
    height: 146px;
    padding-left: 20px;
    margin-right: 10px;
    border-right: 1px solid #e0e0e0
}
.wrap .foot .foot-dit .word ul li{
	cursor: pointer;
	list-style: square;
	font-size: 12px;
	color: gray;
	margin-bottom: 4px;
}
.wrap .foot .foot-dit .word ul li:hover{
	color: #D7237E;
}
.wrap .foot .foot-dit .word ul .iii{
	font-size: 13px;
	color: #4d4d4d;
	list-style: none;
	margin-left: -20px;
}
.wrap .foot .foot-dit .red{	
	text-align: center;
	width: 960px;
	height: 30px;
	background: #D7237E;
	margin-left: 100px;
	margin-top: 30px;
}
.wrap .foot .foot-dit .red a{
	color: white;
	line-height: 30px;
}
.wrap .foot .foot-dit .hui{
	margin-top: 20px;
	margin-left: 100px;
	text-align: center;
	width: 960px;
}
.wrap .foot .foot-dit .hui a{
	display: block;
	color: gray;
	text-decoration: none;
}
